.App {
  text-align: center;
  background: linear-gradient(to bottom right, #ffcc99 0%, #00ff99 100%);
  height: 100vh;
  overflow: auto;
}

.container {
  display: flex;
  justify-content: space-evenly;
  margin-top: 5rem;
}
